[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak {
  display: none !important;
}

.no-votes {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: 'Lato', sans-serif !important;
  padding-top: 50px;
}

.login-failure {
  background-color: red;
  color: white;
  font-family: 'Lato', sans-serif !important;
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-radius: 25px;
}

.animate-if {
  background-color: red;
  color: white;
  font-family: 'Lato', sans-serif !important;
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-radius: 25px;
}

.name-large {
  color: #001414;
  font-family: 'Lato', sans-serif !important;
  font-size: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 35px;
  margin-top: 30px;
  border-radius: 25px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

.outerContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.innerContainer {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding-right: 9px;
  padding-left: 9px;
  left: 0;
  right: 0;
}

.nav-bar-custom {
  background-color: #222;
  color: white;
  border-bottom: 1px solid #555;
}

.nav-bar-custom a{
  color: white;
}

.nav-bar-custom a:hover{
  color: black;
}

.navbar-nav {
  float: none;
  display: inline-block;
}

.nav-logo {
  padding-top: 2px;
}

.jumbotron { min-height: 500px;}

.jumbo-top {
  padding: 20px 0 !important;
	text-align: center;
  margin-bottom: 0 !important;
  background-image: url('../assets/Capitol-Reflection.jpg');
  background-position: 50% 22%;
  background-size: cover;
  border-bottom: 1px solid #555;
}

.jumbo-top h1 {
  padding-bottom: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}


input.form-control {
  width: 650px !important;
}

textarea.form-description-control {
  width: 650px !important;
}

button.idea-submit-button {
  margin-top: 5px;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.upvote-downvote-wrapper {
  width: 63px !important;
  text-align: center;
}

i.fa-sort-asc, i.fa-sort-desc {
  font-size: 25px;
}

i.fa-sort-asc:hover, i.fa-sort-desc:hover {
  cursor: pointer;
  color: #046380;
}

i.fa-sort-asc:active, i.fa-sort-desc:active {
  cursor: pointer;
  color: #03495e;
}

.idea-container:hover {
  cursor: pointer;
}

.idea-title {
  margin-top: 0;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.idea-title:hover {
  text-decoration: underline;
}

.idea-post:hover {
  background-color: #fff5e2;
}

.idea-post {
  padding-top: 15px;
  padding-bottom: 15px;
}

i.fa-lightbulb-o {
  font-size: 35px;
}

i.fa-comments:hover {
  cursor: pointer;
  color: #046380;
}

i.fa-comments:active {
  cursor: pointer;
  color: #03495e;
}

.comments-wrapper {
  margin-top: 10px;
  width: 50px;
  text-align: center;
  float: right;
}

.vote-points {
  padding: 5px 0;
}

.timestamp-author {
  margin-bottom: 0;
}

.user-feedback-container {
  background-color: #046380;
  text-align: center;
  padding: 0.5em 0;
  color: white;
}

.user-feedback-container:hover {
  cursor: pointer;
}

.show-on-error {
  height: 0;
}

.login-form {
  text-align: center;
}

input.login-form-input {
  width: 75% !important;
  height: 45px !important;
  margin: 0 auto;
}

input#inputUsername {
  border-radius: 3px 3px 0 0;
}

input#inputPassword {
  border-radius: 0 0 3px 3px;
}

input.form-description-control {
  margin-top: 5px;
}

.login-button {
  font-family: 'Lato', sans-serif !important;
  margin: 0 auto;
  width: 75% !important;
  background-color: #046380 !important;
}

.login-button:hover {
  background-color: #046075 !important;
}

.login-button:active {
  background-color: #03495e !important;
}

.login-button {
  margin-top: 20px;
  border-radius: 3px !important;
}

img.logo-large {
  width: 103%;
  margin-top: 15%;
  margin-bottom: 9%;
  margin-left: auto;
  margin-right: auto;
}

.sign-up-here {
  margin-top: 10px;
}

.tagline {
  padding: 15px 15px 15px 10px;
}

a.glint-logo-icon {
  display: inline !important;
  padding: 0 !important;
}

a.glint-logo-icon:hover{
  background-color: rgba(0,0,0,0) !important;
}

a.glint-logo-icon:link{
  background-color: rgba(0,0,0,0) !important;
}

/* Idea Post transitions */

.idea-post-repeat.ng-enter {
  transition: 0.75s;
  opacity: 0;
}

.idea-post-repeat.ng-enter-active {
  opacity: 1;
}

.idea-post-repeat.ng-enter-stagger {
  transition-delay: 0.2s;
}

.idea-post-repeat.ng-leave {
  transition: 0.75s;
  opacity: 1;
}

.idea-post-repeat.ng-leave-active {
  opacity: 0;
}

/* Form description transitions */

.form-description.ng-enter {
  transition: 0.75s;
  opacity: 0;
  height: 0px;
}

.form-description.ng-enter-active {
  height: 73px;
  opacity: 1;
}

.form-description.ng-leave {
  transition: 0.75s;
  height: 73px;
  opacity: 1;
}

.form-description.ng-leave-active {
  height: 0;
  opacity: 0;
}


.post-idea-animation.ng-enter {
  transition: 0.75s;
  opacity: 0;
  height: 0px;
}

.post-idea-animation.ng-enter-active {
  height: 34px;
  opacity: 1;
}

.post-idea-animation.ng-leave {
  transition: 0.75s;
  height: 34px;
  opacity: 1;
}

.post-idea-animation.ng-leave-active {
  height: 0;
  padding: 0;
  opacity: 0;
}

.title-text {
  color: black !important;
  text-shadow: -1px 0 #A4A6AB, 0 1px #A4A6AB, 1px 0 #A4A6AB, 0 -1px #A4A6AB;
}

.pic {
  left: -50px;
  width:100px;
  height:100px;
}

.upvote {
  vertical-align: top;
  background-color: red !important;
  width : 15px;
  display: inline-block;
  margin: 0 auto;

}
.voting-bars{
  width : 20px;
  height: 20px;
  display : inline-block;
  margin : 0 auto;
}

.downvote {
  vertical-align: top;
  background-color: blue !important;
  width : 15px;
  display : inline-block;
  margin : 0 auto; 
}
.icon-bars {
  margin : 0 auto;
  display : inline-block;
  vertical-align : top;
  height : 30px;
  width : 30px;
}
